version: 2
updates:
  # Maintain dependencies for Python in the root directory
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      python-dependencies:
        patterns:
          - "*"

  # Maintain dependencies for npm in apps/console
  - package-ecosystem: "npm"
    directory: "/apps/console"
    schedule:
      interval: "weekly"
    groups:
      npm-dependencies:
        patterns:
          - "*"
