# Dependabot configuration file.
# See https://docs.github.com/en/code-security/dependabot/dependabot-version-updates

version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
       actions:
          patterns:
            - "*"

  # Maintain dependencies for pip
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
       python-deps:
          patterns:
            - "*"

  # Maintain dependencies for npm
  - package-ecosystem: "npm"
    directory: "/apps/console"
    schedule:
      interval: "weekly"
    groups:
       frontend-deps:
          patterns:
            - "*"
